.footer{
    background-color: #222;
    color: #fff;
    padding: 0.2em;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover{
    color: #bf092f
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}