.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 0.5em 10%;
}

nav h1{
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    align-self: center;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-left: 1em;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: #bf092f;
}